<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Matt Jiggins Photography</title>

<!-- ID -->
	<meta name="google-site-verification" content="u9w_z8Q3FZx6jhO-lrxaM8rMnzyMwhqKLG0yAY8GKsA" />

<!-- SEO -->
	<meta name="description" content="Matt Jiggins: Developer, Photographer" />
	<meta name="keywords" content="Matt Jiggins, Photography, Street Photography, Developer, WordPress, Frontend, Front-end, Javascript, Designer" />

<!-- Twitter -->
	<meta name="twitter:card" content="Matt Jiggins: Developer, Photographer.">
	<meta name="twitter:site" content="@mattjiggins">
	<meta name="twitter:title" content="Matt Jiggins: Developer, Photographer.">
	<meta name="twitter:creator" content="@mattjiggins">

<!-- Open Graph -->
	<meta property="og:title" content="Matt Jiggins: Developer, Photographer." />
	<meta property="og:type" content="" />
	<meta property="og:url" content="http://jiggins.ca" />
	<meta property="og:image" content="/images/Matt-Jiggins-Camera.jpg" />
	<meta property="og:description" content="" />

<!-- Google -->
	<link rel="author" href="https://plus.google.com/+MatthewJiggins"/>
	<link rel="publisher" href="https://plus.google.com/+MatthewJiggins"/>
	
    {{> styles}}
</head>
<body>
