{{> head}}
<div class="container">
	
	<header>
		<h1><a href="/">Matt Jiggins Photography</a></h1>
		{{> navigation}} 
	</header>
	
	<div class="wrapper">

		{{{body}}}

	</div> {{!-- //wrapper --}}
</div> {{!-- //container --}}
{{> scripts}}
{{> footer}}
