.img-responsive {
	max-width:100%;
}
ul.photo-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

figcaption {
	text-align: center;
	.title {
		text-align: center;
	}
	.portfolio, .view {
		font-size: .8em;
	}
}