
.container {
	// @include grid-container("900px");
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	&::after {
		clear: both;
		content: "";
		display: block;
	  }
}
.wrapper {
	
	@include grid-column(12);

	padding: 0;

	@include respond-to('sm') {
		background: $color-light-bluegrey;
		padding: 50px;
	}
}
main {
	@include respond-to('md') {
		  @include grid-column(10);
	}
}
main#gallery {
	@include respond-to('md') {
		  @include grid-column(12);
	}
}
aside {
	@include respond-to('md') {
		@include grid-column(2);
		padding: 5px 10px 0 10px;
	}
}