
.container {
	@include outer-container(900px);
}
.wrapper {
	
	@include span-columns(12);

	padding: 0;

	@include respond-to('sm') {
		background: $color-light-bluegrey;
		padding: 50px;
	}
}
main {
	@include respond-to('md') {
		  @include span-columns(10);
	}
}
main#gallery {
	@include respond-to('md') {
		  @include span-columns(12);
	}
}
aside {
	@include respond-to('md') {
		@include span-columns(2);
		padding: 350px 10px 0 10px;
	}
}